---
layout: roulette-system
title: Bankrupt The Casino - Roulette System Review
---
<p>
    This is a goofy 
    {% include roulette-system-type.html type="Negative Progression" %}
    system with too much hedging. It's almost a 
    {% include roulette-system-type.html type="Martingale" %}
    system, but you only double up when losing 2x in a row.
</p>
<p>
    Walk when you're up
    {% include win-loss-amount.html amount=200 %} or
    {% include win-loss-amount.html amount=300 -%}.
</p>
<p>
    There's just too much hedging for me to give this a good rating. And
    the bet sizes are too small.
</p>
