---
layout: roulette-system
title: Doomsday 2.0 - Roulette System Review
---
<p>
    Another goofy 
    {% include roulette-system-type.html type="Negative Progression" %}
    system. Move to the next tier when you lose. Reset to tier 1 when you
    win/recover.
</p>
<p>
    Walk when you're up 
    {% include win-loss-amount.html amount=150 -%}.
</p>
<p>
    I don't think this system is awful, but I just don't think there's a lot
    of potential. It's pretty easy to just go broke, but there's no real
    potential to win big.
</p>