---
layout: roulette-system
title: Par 25 - Roulette System Review
---
<p>
    This is a goofy 
    {% include roulette-system-type.html type="Positive Progression" %}
    with goofy betting patterns that can be optimized.
</p>
<p>
    When you win, press $5 (one unit) on each of the 5 bets. Walk when you're
    up {% include win-loss-amount.html amount=180 -%}.
</p>
<p>
    You can consolidate the Double Street bets quite a bit. For tier 1, you
    can just add $15 to the 19-36 bet, and replace the two $10 Double Streets
    with a single $10 Dozen bet. When you press, you can add another $15 and $10
    to the same spots.
</p>
<p>
    This is not a bad system, but to me, it's definitely not an 
    {% include ceg-system-rating.html rating="a" showRatingLetter=true showRatingName=false -%}.
    What's up with that?
</p>
