---
layout: roulette-system
title: New Balance - Roulette System Review
---
<p>
    This is a wacky 
    {% include roulette-system-type.html type="Martingale" %}
    system. When you lose, double up and hit 3x before resetting
    to the first tier.
</p>
<p>
    Walk when you're up
    {% include win-loss-amount.html amount=400 %}
    or more.
</p>
<p>
    You can just make two bets instead of the 4 bets to simplify
    things. You can bet $30 on high and $20 on the 1st Dozen instead.
    And double up the bets for the other tiers.
</p>
<p>
    I don't really like 
    {% include roulette-system-type.html type="Martingale" %}
    systems in general...but they're <i>ESPECIALLY</i> bad when
    you have to win <i>SEVERAL</i> times at the higher tier to
    recover.
</p>

