---
layout: roulette-system
title: Step on the Grass - Roulette System Review
---
<p>
    This is just a mediocre 
    {% include roulette-system-type.html type="Positive Progression" %}
    system with a minor chance to win a fair amount of money.
</p>
<p>
    The betting pattern is a little hokey, but winning with the 
    {% include roulette-spot.html number="0" -%}/{%- include roulette-spot.html number="00" %}
    split is a nice little jackpot.
</p>
<p>
    When you hit on tier 1, go to tier 2 for one spin and go back to tier 1. Quit when
    you've won 30 units ({%- include win-loss-amount.html amount=150 -%}).
</p>
