---
layout: roulette-system
title: 7-10 Split - Roulette System Review
---
<p>
    This is a pretty good 
    {% include roulette-system-type.html type="Negative Progression" %}
    system with a very reasonable buy-in.
</p>
<p>
    Progress to the next step on a win. Keep betting the top tier until you
    hit your win goal or hit the jackpot (Split bet) win of 
    {% include win-loss-amount.html amount=200 -%}.
</p>
<p>
    Not sure why this is called "7-10 Split"...I like that there are different
    ways to exit out with this system, although you're mostly going for the
    {% include win-loss-amount.html amount=200 %} jackpot.
</p>
